name: Run Tests

on:
  workflow_call:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ main, release/*, bugfix/* ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'CODEOWNERS'
      - 'LICENSE'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Run Checkstyle
        run: ./gradlew --refresh-dependencies checkstyleMain checkstyleTest checkstyleTestFixtures

  Dependency-Check:
    uses: eclipse-edc/.github/.github/workflows/dependency-check.yml@main
    secrets: inherit

  Unit-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Run unit tests
        run: ./gradlew --refresh-dependencies test

  Azure-Storage-Integration-Tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Azure Storage Tests
        run: ./gradlew --refresh-dependencies test -DincludeTags="AzureStorageIntegrationTest"

  #  TODO: this test has been commented out because it was flaky. Further investigation needed. ref: https://github.com/eclipse-edc/Connector/issues/2403
  #  Azure-Cloud-Integration-Test:
  #    needs: [ Check-Cloud-Environments ]
  #    if: needs.Check-Cloud-Environments.outputs.has-azure == 'true'
  #    environment: Azure-dev
  #    runs-on: ubuntu-latest
  #
  #    # Grant permissions to obtain federated identity credentials
  #    # see https://docs.github.com/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure
  #    permissions:
  #      id-token: write
  #      contents: read
  #
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: eclipse-edc/.github/.github/actions/setup-build@main
  #
  #      - name: 'Az CLI login'
  #        uses: azure/login@v1
  #        with:
  #          client-id: ${{ secrets.AZURE_CLIENT_ID }}
  #          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
  #          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  #
  #      - name: "Fetch Terraform outputs"
  #        run: printf "$RUNTIME_SETTINGS" > resources/azure/testing/runtime_settings.properties
  #        env:
  #          RUNTIME_SETTINGS: ${{ secrets.RUNTIME_SETTINGS }}
  #
  #      - name: Data Plane Azure Data Factory Test
  #        env:
  #          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  #          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  #          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  #        run: |
  #          ./gradlew -p extensions/data-plane/data-plane-azure-data-factory test -DincludeTags="AzureDataFactoryIntegrationTest"
  #          ./gradlew -p system-tests/azure-data-factory-tests test -DincludeTags="AzureDataFactoryIntegrationTest"

  Component-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Component Tests
        run: ./gradlew --refresh-dependencies -DincludeTags="ComponentTest"

  End-To-End-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: End to End Integration Tests
        run: ./gradlew --refresh-dependencies test -DincludeTags="EndToEndTest"

  API-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Component Tests
        run: ./gradlew --refresh-dependencies test -DincludeTags="ApiTest"
